body { 
    background: #0d0d0d; 
    color: #00ff41; 
    font-family: 'Courier New', monospace; 
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    margin: 0; 
}

#chat-box { 
    flex: 1; 
    overflow-y: auto; 
    padding: 20px; 
    border-bottom: 2px solid #222; 
    scrollbar-width: thin;
    scrollbar-color: #008f11 #0d0d0d;
}

.msg { 
    margin-bottom: 20px; 
    padding: 10px; 
    border-radius: 5px;
    max-width: 80%;
    line-height: 1.4;
}

.user { 
    color: #008f11; 
    font-weight: bold; 
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

.clanka { 
    color: #ff3e3e; 
    font-weight: bold; 
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

#input-area { 
    padding: 25px; 
    display: flex; 
    gap: 15px; 
    background: #151515;
}

input { 
    flex: 1; 
    background: #000; 
    border: 1px solid #00ff41; 
    color: #00ff41; 
    padding: 15px; 
    outline: none;
    font-family: inherit;
}

input:focus {
    box-shadow: 0 0 10px #00ff41;
}

button { 
    background: #00ff41; 
    color: black; 
    border: none; 
    padding: 10px 30px; 
    cursor: pointer; 
    font-weight: bold; 
    transition: 0.2s;
}

button:hover {
    background: #008f11;
    color: white;
}